{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card">
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>
  <h2 class="mb-3">{{ quiz.name }}</h2>

  <div class="card">
    <div class="card-header">
    <div class="row">
  <p class="" style="color: white; padding-left: 30px; font-size: 30px;">{{ question.text }}</p>
</div>
<style>
#id_answer {
    list-style-type: none;
    text-align: left;
}

#id_answer_0 {
    text-align: left;
}

li {
    align: left;
    color: white;
}
</style>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Next →</button>
  </form>
</div>
</div>  
</div>
{% endblock %}
