{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
    <div id="square7" class="square square-7"></div>
    <div id="square8" class="square square-8"></div>
    <div class="card card-register">
      <div class="card-header">
        <img class="card-img" src="{% static 'img/square1.png' %}" alt="Card image">
        <h4 class="card-title" style="color: #d5d9fc; font-size: 50px;">Add a new exam</h4>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-6 col-sm-8 col-12">
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-success">Save</button>
              <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-warning" role="button">Nevermind</a>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



{% endblock %}
