{% extends 'base_home.html' %}

{% load crispy_forms_tags %}

{% load staticfiles %}


{% block content %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
    <div class="wrapper">
    <div class="page-header">
        <div class="register-bg"></div>
        <div id="square7" class="square square-7"></div>
              <div id="square8" class="square square-8"></div>
          <div id="square1" class="square square-1"></div>
          <div id="square2" class="square square-2"></div>
          <div id="square3" class="square square-3"></div>
          <div id="square4" class="square square-4"></div>
          <div id="square5" class="square square-5"></div>
          <div id="square6" class="square square-6"></div>
   <!--    <img src="assets/img/blob.png" class="path">
      <img src="{% static 'img/blog.png' %}" class="path">  -->
      <!-- <img src="{% static 'img/path2.png' %}" class="path2"> -->
      <!-- <img src="{% static 'img/triunghiuri.png' %}" class="shapes triangle">
      <img src="{% static 'img/waves.png' %}" class="shapes wave">
      <img src="{% static 'img/patrat.png' %}" class="shapes squares">
      <img src="{% static 'img/cercuri.png' %}" class="shapes circle"> -->
      <div class="content-center">
        <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div id="square7" class="square square-7"></div>
              <div id="square8" class="square square-8"></div>
              <div class="card card-register">
                <div class="card-header">
                  <img class="card-img" src="{% static 'img/square1.png' %}" alt="Card image">
                  <h4 class="card-title" style="color: #d5d9fc; font-size: 12;">Login</h4>
                </div>
                <div class="card-body">
                  <form class="form" method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    
                    <!-- <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"></i>
                        </div>
                      </div>
                      <input type="text" placeholder="Email" class="form-control">

                    </div> -->
                    {{ form.username|as_crispy_field }}
                    {{ form.password|as_crispy_field }}

                    <!-- <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" placeholder="Password">
                    </div> -->
                    <div class="row" id="checkRadios">
                  </div>
                          <button type="submit" class="btn btn-info btn-round btn-lg">Log in</button>

                  </form>
                </div>
               <!--  <div class="card-footer">
                  <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Get Started</a>
                </div> -->
              </div>
            </div>
          </div>
        
      </div>
    </div>




    

{% endblock %}
