{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="wrapper">
    <div class="page-header">
      <img src="{% static 'img/blob.png' %}" class="path">
      <!-- <img src="{% static 'img/path2.png' %}" class="path2"> -->
      <img src="{% static 'img/triunghiuri.png' %}" class="shapes triangle">
      <!-- <img src="{% static 'img/waves.png' %}" class="shapes wave"> -->
      <!-- <img src="{% static 'img/patrat.png' %}" class="shapes squares"> -->
      <img src="{% static 'img/cercuri.png' %}" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white">Online Examination System Registeration Form
              <br/>
              <!-- <span class="text-white"></span> -->
            </h1>
            <p class="text-white mb-3">If you are a student who would like to take an exam please click the I'm studnet button, and if you are teacher who would like to give exams please click the I'm a teacher button.</p>
           
            <div class="btn-wrapper">
              
              <button class="btn btn-info"><a href="{% url 'teacher_signup' %}" style="color: white;">I'm a Teacher</a></button>
              <button class="btn btn-success"><a href="{% url 'student_signup' %}" style="color: white;">I'm a Student</a></button>
            </div>
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="{% static 'img/etherum.png' %}" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

{% endblock %}
